body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto-serif: "Roboto Serif";

  /* font sizes */
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-linen: #ece6dd;
  --color-black: #000;
}
