a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto-serif: "Roboto Serif";
  --font-inherit: inherit;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-linen: #ece6dd;
  --color-black: #000;
  --color-lightgray: #dad2cd;
  --color-silver: #c7b0a6;

  /* Paddings */
  --padding-lg: 18px;
  --padding-mid: 17px;
}
.icon-instagram {
  position: absolute;
  height: 19.98%;
  width: 17.56%;
  top: 63.93%;
  right: 7.5%;
  bottom: 16.09%;
  left: 74.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.info,
.info-frame {
  position: absolute;
  top: 6px;
  left: 23px;
}
.info-frame {
  top: 179px;
  left: 531px;
  width: 95px;
  height: 39px;
  overflow: hidden;
}
.support,
.support-frame {
  position: absolute;
  top: 0;
  left: 10px;
}
.support-frame {
  top: 186px;
  left: 616px;
  width: 116px;
  height: 26px;
  overflow: hidden;
}
.marketing,
.marketing-frame {
  position: absolute;
  top: 0;
  left: 0;
}
.marketing-frame {
  top: 187px;
  left: 740px;
  width: 123px;
  height: 31px;
  overflow: hidden;
}
.terms-of-use {
  position: absolute;
  top: 5px;
  left: 33px;
}
.term-of-use-frame {
  position: absolute;
  top: 226px;
  left: 505px;
  width: 196px;
  height: 38px;
  overflow: hidden;
}
.privacy-frame,
.privacy-policy {
  position: absolute;
  top: 1px;
  left: 8px;
}
.privacy-frame {
  top: 230px;
  left: 701px;
  width: 183px;
  height: 30px;
  overflow: hidden;
}
.email-frame,
.enter-your-email {
  position: absolute;
  top: 12px;
  left: 8px;
}
.email-frame {
  top: 87px;
  left: 980px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 277px;
  height: 51px;
  overflow: hidden;
}
.subscribe,
.subscribe-frame {
  position: absolute;
  top: 12px;
  left: 17px;
}
.subscribe-frame {
  top: 87px;
  left: 1255px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 150px;
  height: 51px;
  overflow: hidden;
}
.get-the-latest {
  position: absolute;
  top: 30px;
  left: 38px;
}
.logo-icon,
.news-frame {
  position: absolute;
  overflow: hidden;
}
.news-frame {
  top: 7px;
  left: 962px;
  width: 433px;
  height: 67px;
  font-size: 32px;
}
.logo-icon {
  top: 21px;
  left: 12px;
  width: 110px;
  height: 103px;
}
.puphub,
.puphub-frame {
  position: absolute;
  top: 8px;
  left: 0;
}
.puphub-frame {
  top: 45px;
  left: 120px;
  width: 214px;
  height: 55px;
  overflow: hidden;
  font-size: 40px;
}
.contact-us {
  position: absolute;
  top: 3px;
  left: 10px;
}
.contact-us-frame {
  position: absolute;
  top: 124px;
  left: 51px;
  width: 149px;
  height: 33px;
  overflow: hidden;
}
.faq,
.faq-frame {
  position: absolute;
  top: 5px;
  left: 15px;
}
.faq-frame {
  top: 157px;
  left: 49px;
  width: 89px;
  height: 33px;
  overflow: hidden;
}
.accessibility {
  position: absolute;
  top: 2px;
  left: 0;
}
.accessibility-frame,
.footer-frame {
  position: absolute;
  top: 194px;
  left: 64px;
  width: 165px;
  height: 47px;
  overflow: hidden;
}
.footer-frame {
  top: 3386px;
  left: 0;
  background-color: var(--color-lightgray);
  width: 1441px;
  height: 280px;
  color: var(--color-white);
}
.health-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 341px;
  object-fit: cover;
}
.health-and-wellness {
  position: absolute;
  top: 142px;
  left: 58px;
}
.health-and-wellness-frame {
  position: absolute;
  top: 206px;
  left: 0;
  width: 1440px;
  height: 359px;
  overflow: hidden;
  font-size: 64px;
  color: var(--color-white);
}
.vet-favorites {
  position: absolute;
  top: 25px;
  left: 28px;
}
.vet-favorites-frame {
  position: absolute;
  top: 612px;
  left: 47px;
  background-color: var(--color-silver);
  width: 745px;
  height: 107px;
  overflow: hidden;
  font-size: var(--font-size-29xl);
}
.screen-shot-2023-07-06-at-124 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 184px;
  height: 183px;
  object-fit: cover;
}
.dog-bowl-image-frame {
  position: absolute;
  top: 766px;
  left: 75px;
  width: 196px;
  height: 201px;
  overflow: hidden;
}
.dog-bowl-text {
  position:absolute;
  top: 25px;
  left: 0px;
  font-size: 15px;
  text-align: center;
}
.dog-bowl-text-frame {
  position: absolute;
  top: 950px;
  left: 65px;
  width: 200px;
  height: 40px;
  overflow: visible;
}
.screen-shot-2023-07-06-at-1241 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 176px;
  object-fit: cover;
}
.toothpaste-image-frame {
  position: absolute;
  top: 775px;
  left: 299px;
  width: 195px;
  height: 192px;
  overflow: hidden;
}
.toothpaste-text {
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: 15px;
  text-align: center;
}
.toothpaste-text-frame {
  position: absolute;
  top: 950px;
  left: 300px;
  width: 150px;
  height: 50px;
  overflow: visible;
}
.screen-shot-2023-07-06-at-1242 {
  position: absolute;
  top: 0;
  left: 7px;
  width: 317px;
  height: 199px;
  object-fit: cover;
}
.dog-bed-text {
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: 15px;
  text-align: center;
}
.dog-bed-text-frame {
  position: absolute;
  top: 950px;
  left: 550px;
  width: 250px;
  height: 50px;
  overflow: visible;
}
.dog-bed-frame,
.videos-frame {
  position: absolute;
  top: 770px;
  left: 462px;
  width: 324px;
  height: 192px;
  overflow: hidden;
}
.videos-frame {
  top: 1062px;
  left: 47px;
  background-color: var(--color-silver);
  width: 745px;
  height: 107px;
  font-size: var(--font-size-29xl);
}
.screen-shot-2023-07-11-at-123 {
  position: absolute;
  top: 0;
  left: 0;
  width: 741px;
  height: 424px;
  object-fit: cover;
}
.embedded-youtube-video-1 {
  position: absolute;
  top: 1233px;
  left: 45px;
  width: 741px;
  height: 424px;
  overflow: hidden;
}
.screen-shot-2023-07-11-at-1231 {
  position: absolute;
  top: 0;
  left: 0;
  width: 745px;
  height: 424px;
  object-fit: cover;
}
.embedded-youtube-video-2 {
  position: absolute;
  top: 1721px;
  left: 45px;
  width: 741px;
  height: 424px;
  overflow: hidden;
}
.screen-shot-2023-07-11-at-1232 {
  position: absolute;
  top: 0;
  left: 0;
  width: 741px;
  height: 433px;
  object-fit: cover;
}
.embedded-youtube-video-3,
.pharmacy-frame {
  position: absolute;
  top: 2209px;
  left: 49px;
  width: 741px;
  height: 424px;
  overflow: hidden;
}
.pharmacy-frame {
  top: 2697px;
  left: 47px;
  background-color: var(--color-silver);
  width: 745px;
  height: 107px;
  font-size: var(--font-size-29xl);
}
.screen-shot-2023-07-06-at-555 {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 257px;
  height: 194px;
  object-fit: cover;
}
.med-1-frame {
  position: absolute;
  top: 2850px;
  left: 57px;
  width: 266px;
  height: 234px;
  overflow: hidden;
}
.med-1-text {
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: 15px;
  text-align: center;
}
.med-1-text-frame {
  position: absolute;
  top: 3100px;
  left: 100px;
  width: 250px;
  height: 50px;
  overflow: visible;
}
.screen-shot-2023-07-06-at-558 {
  position: absolute;
  top: 0;
  left: 36px;
  width: 60px;
  height: 201px;
  object-fit: cover;
}
.med-2-frame {
  position: absolute;
  top: 2870px;
  left: 367px;
  width: 176px;
  height: 214px;
  overflow: hidden;
}
.med-2-text {
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: 15px;
  text-align: center;
}
.med-2-text-frame {
  position: absolute;
  top: 3100px;
  left: 400px;
  width: 100px;
  height:50px;
  overflow: visible;
}
.screen-shot-2023-07-06-at-557 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 184px;
  height: 185px;
  object-fit: cover;
}
.med-3-frame {
  position: absolute;
  top: 2866px;
  left: 587px;
  width: 199px;
  height: 198px;
  overflow: hidden;
}
.med-3-text {
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: 15px;
  text-align: center;
}
.med-3-text-frame {
  position: absolute;
  top: 3100px;
  left: 580px;
  width: 200px;
  height: 50px;
  overflow: visible;
}
.faqs {
  position: relative;
}
.faqs-title-frame {
  position: relative;
  top: 613px;
  left: 946px;
  background-color: var(--color-lightgray);
  width: 459px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 25px 57px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-29xl);
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  position: relative;
  top: 615px;
  left: 970px;
  background-color:white;
  color: black;
  font-size: 25px;
  cursor: pointer;
  padding: 18px;
  width: 421px;
  text-align: left;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  position: relative;
  top: 615px;
  left: 970px;
  border: 1px solid black;
  box-sizing: border-box;
  width: 421px;
  padding: 0 18px;
  background-color: white;
  display: none;
  flex-direction: column;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /*Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: black;
  float: right;
  margin-right: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.logo-icon1 {
  position: relative;
  width: 146px;
  height: 136px;
  overflow: hidden;
  flex-shrink: 0;
}
.dog-blog {
  list-style: none;
  position: absolute;
  top: 12px;
  left: 32px;
  text-decoration: none;
}
.dog-blog-frame {
  position: relative;
  background-color: var(--color-linen);
  width: 169px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.breeds {
  list-style: none;
  position: absolute;
  top: 12px;
  left: 44px;
}
.breeds-frame {
  position: relative;
  background-color: var(--color-linen);
  width: 168px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.food,
.health1,
.shop {
  list-style: none;
  position: absolute;
  top: 12px;
  left: 55px;
}
.health1,
.shop {
  left: 45px;
}
.shop {
  left: 54px;
}
.shop-frame {
  position: relative;
  background-color: var(--color-linen);
  width: 169px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.search-bar-white {
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 24px;
  background-color: var(--color-white);
  width: 293px;
  height: 48px;
}
.search {
  position: absolute;
  top: 10px;
  left: 57px;
}
.search-rectangle {
  position: relative;
  width: 343px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-linen);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 12px var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}
.health {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3666px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto-serif);
}
