a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto-serif: "Roboto Serif";

  /* font sizes */
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-linen: #ece6dd;
  --color-black: #000;
}
.logo-icon {
  position: relative;
  width: 146px;
  height: 136px;
  overflow: hidden;
  flex-shrink: 0;
}
.dog-blog {
  list-style: none;
  text-decoration: none;
  position: absolute;
  top: 12px;
  left: 32px;
}
.dog-blog-frame {
  position: relative;
  background-color: var(--color-linen);
  width: 169px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.breeds {
  list-style: none;
  position: absolute;
  top: 12px;
  left: 44px;
}
.breeds-frame {
  position: relative;
  background-color: var(--color-linen);
  width: 168px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.food,
.health,
.shop {
  list-style: none;
  position: absolute;
  top: 12px;
  left: 55px;
}
.health,
.shop {
  left: 45px;
}
.shop {
  left: 54px;
}
.shop-frame {
  position: relative;
  background-color: var(--color-linen);
  width: 169px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.search-bar-white {
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 24px;
  background-color: var(--color-white);
  width: 293px;
  height: 48px;
}
.search {
  position: absolute;
  top: 10px;
  left: 57px;
}
.search-rectangle {
  position: relative;
  width: 343px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-instagram,
.nav-bar {
  position: absolute;
  overflow: hidden;
}
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-linen);
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: 12px 18px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}
.splash-video-1,
.splash-video-1-wrapper {
  position: absolute;
  top: 0;
  left: -220px;;
  width: 1660px;
  height: 843px;
}
.splash-video-1-wrapper {
  top: 161px;
  left: -220px;
  overflow: hidden;
}
.splash {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1284px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto-serif);
}
.icon-instagram {
  position: absolute;
  height: 19.98%;
  width: 17.56%;
  top: 63.93%;
  right: 7.5%;
  bottom: 16.09%;
  left: 74.95%;
  max-width: 100%;
  max-height: 100%;
}
.info,
.info-frame {
  position: absolute;
  top: 6px;
  left: 23px;
}
.info-frame {
  top: 179px;
  left: 531px;
  width: 95px;
  height: 39px;
  overflow: hidden;
}
.support,
.support-frame {
  position: absolute;
  top: 0;
  left: 10px;
}
.support-frame {
  top: 186px;
  left: 616px;
  width: 116px;
  height: 26px;
  overflow: hidden;
}
.marketing,
.marketing-frame {
  position: absolute;
  top: 0;
  left: 0;
}
.marketing-frame {
  top: 187px;
  left: 740px;
  width: 123px;
  height: 31px;
  overflow: hidden;
}
.terms-of-use {
  position: absolute;
  top: 5px;
  left: 33px;
}
.term-of-use-frame {
  position: absolute;
  top: 226px;
  left: 505px;
  width: 196px;
  height: 38px;
  overflow: hidden;
}
.privacy-frame,
.privacy-policy {
  position: absolute;
  top: 1px;
  left: 8px;
}
.privacy-frame {
  top: 230px;
  left: 701px;
  width: 183px;
  height: 30px;
  overflow: hidden;
}
.email-frame,
.enter-your-email {
  position: absolute;
  top: 12px;
  left: 8px;
}
.email-frame {
  top: 87px;
  left: 980px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 277px;
  height: 51px;
  overflow: hidden;
}
.subscribe,
.subscribe-frame {
  position: absolute;
  top: 12px;
  left: 17px;
}
.subscribe-frame {
  top: 87px;
  left: 1255px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 150px;
  height: 51px;
  overflow: hidden;
}
.get-the-latest {
  position: absolute;
  top: 30px;
  left: 38px;
}
.logo-icon1,
.news-frame {
  position: absolute;
  overflow: hidden;
}
.news-frame {
  top: 7px;
  left: 962px;
  width: 433px;
  height: 67px;
  font-size: 32px;
}
.logo-icon1 {
  top: 21px;
  left: 12px;
  width: 110px;
  height: 103px;
}
.puphub,
.puphub-frame {
  position: absolute;
  top: 8px;
  left: 0;
}
.puphub-frame {
  top: 45px;
  left: 120px;
  width: 214px;
  height: 55px;
  overflow: hidden;
  font-size: 40px;
}
.contact-us {
  position: absolute;
  top: 3px;
  left: 10px;
}
.contact-us-frame {
  position: absolute;
  top: 124px;
  left: 51px;
  width: 149px;
  height: 33px;
  overflow: hidden;
}
.faq,
.faq-frame {
  position: absolute;
  top: 5px;
  left: 15px;
}
.faq-frame {
  top: 157px;
  left: 49px;
  width: 89px;
  height: 33px;
  overflow: hidden;
}
.accessibility {
  position: absolute;
  top: 2px;
  left: 0;
}
.accessibility-frame,
.footer-frame {
  position: absolute;
  top: 194px;
  left: 64px;
  width: 165px;
  height: 47px;
  overflow: hidden;
}
.footer-frame {
  top: 1004px;
  left: -1px;
  background-color: #dad2cd;
  width: 1441px;
  height: 280px;
  color: var(--color-white);
}